AUTO_RELOAD=1

PYTHONUNBUFFERED=1

PYTHONDONTWRITEBYTECODE=1

# Django debug
DEBUG=on

# Set to `on` for TLS-enabled production
TLS_ON=off

# Use random 20+ chars alphanumeric string; you can generate it with `pwgen -s 30 -N 1`
SECRET_KEY=

ALLOWED_HOSTS=*

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres

REDIS_URL=redis://redis:6379

SENTRY_DSN=

# Logging

LOG_FILE=/logs/django.log
